extends layout
block content
    h1= title
    p Game Time and Points
    // Wrapper
    #wrapper
        // USER INFO
        #userInfo
            h2 User Info
            p
                strong Date:
                |  <span id='userInfodate'></span>
                br
                strong name:
                |  <span id='userInfoname'></span>
                br
                strong Dojo Points:
                |  <span id='userInfodojopoints'></span>
                br
                strong Class color:
                |  <span id='userInfocolor' type='color'></span>
                br
                strong School Game Time:
                |  <span id='userInfoschoolgtime'></span>
                br
                strong Kumon Game Time:
                |  <span id='userInfokumongtime'></span>
                br
                strong Chinese Points:
                |  <span id='userInfochinesepoints'></span>
                br
                strong Used Game Time:
                |  <span id='userInfousedgtime'></span>

        // /USER INFO

        // ADD Entry
        #addUserPanel
            h2 Add Entry
            #addUser
                fieldset
                    select#inputUsername(oninput='toggleclass()', name='inputUsername', type='text')
                        option(value='')
                        option(value='Dustin') Dustin
                        option(value='Matthew') Matthew
                    br
                    | Date
                    input#inputUserDate(type='date', placeholder='Date')
                    br
                    #dojo
                        | Dojo Points
                        input#inputUserdojopoints(onClick='return convertdtime();', type='number', placeholder='0', min='0', max='3', value='0')
                    #color
                        | Class color
                        select#inputUsercolor(onchange='return convertctime()', type='text', placeholder='color')
                            option(value='N/A') N/A
                            option(value='No School') No School
                            option(value='Purple') Purple
                            option(value-'Blue') Blue
                            option(value='Red') Red
                            option(value='Pink') Pink
                            option(value='Yellow') Yellow
                            option(value='Green') Green
                            option(value='Dark Green') Dark Green
                            br
                    | Kumon Game Time
                    select#inputUserkumongtime(type='number', value='0')
                        option(value='0') No Packet
                        option(value='10') 1 Packet
                        option(value='20') 2 Packet
                        option(value='30') 3 Packet
                        option(value='40') 4 Packet
                        option(value='50') 5 Packet
                        option(value='60') 6 Packet
                        option(value='70') 7 Packet
                    br
                    | Chinese Points
                    input#inputUserchinesepoints(type='number', placeholder='0', value='0', min='0', max='5')
                    br
                    | Used Game Time
                    input#inputUserusedgtime(type='number', placeholder='0', value='0', min='0', max='300')
                    br
                    input#inputUserschoolgtime(type='hidden', name='inputUserschoolgtime' value='')
                    button#btnAddUser Add User
        // /ADD USER

        // UPDATE USER
        #updateUserPanel
            h2 Update User
            #updateUser
                fieldset
                select#updateUsername(oninput='utoggleclass()', name='inputUsername', type='text')
                    option(value='Dustin') Dustin
                    option(value='Matthew') Matthew
                    br
                    | Date
                    input#updateUserDate(type='date', placeholder='Date')
                    br
                    #udojo
                        | Dojo Points
                        input#updateUserdojopoints(onClick='return uconvertdtime();', type='number', placeholder='0', min='0', max='3', value='0')
                    #ucolor
                        | Class color
                        select#updateUsercolor(onchange='return uconvertctime()', type='text', placeholder='color')
                            option(value='N/A') N/A
                            option(value='No School') No School
                            option(value='Purple') Purple
                            option(value-'Blue') Blue
                            option(value='Red') Red
                            option(value='Pink') Pink
                            option(value='Yellow') Yellow
                            option(value='Green') Green
                            option(value='Dark Green') Dark Green
                            br
                    select#updateUserkumongtime(type='number')
                        option(value='0') No Packet
                        option(value='10') 1 Packet
                        option(value='20') 2 Packet
                        option(value='30') 3 Packet
                        option(value='40') 4 Packet
                        option(value='50') 5 Packet
                        option(value='60') 6 Packet
                        option(value='70') 7 Packet
                    br
                    | Chinese Points
                    input#updateUserchinesepoints(type='number', placeholder='0', min='0', max='5')
                    br
                    | Used Game Time
                    input#updateUserusedgtime(type='number', placeholder='0', min='0', max='300')
                    br
                    input#inputUserschoolgtime(type='hidden', name='inputUserschoolgtime' value='')
                    button#btnUpdateUser Update User
                    button#btnCancelUpdateUser Cancel
        // /UPDATE USER
        // Point and Time Entry
        h2 Points and Time Entry
        #userList
            table
                thead
                    th Date
                    th name
                    th dojopoints
                    th color
                    th schoolgtime
                    th kumongtime
                    th chinesepoints
                    th usedgtime
                    th Delete/Update?
                tbody
        // /USER LIST
        // /WRAPPER
